:root {
  /* dark shades of primary color*/
  --clr-primary-1: #f0c751;
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  /* primary/main color */
  --clr-primary-5: hsl(185, 62%, 45%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --transition: all 0.3s linear;
  --spacing: 0.15rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  line-height: 1.5;
  font-size: 0.875rem;
  background: #e8b92c;
  font-family: "Quicksand", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
}
a {
  text-decoration: none;
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
  color: white;
}
h2 {
  font-size: 2rem;
  color: white;
}
h3 {
  font-size: 1.25rem;
  color: white;
}
h4 {
  font-size: 0.875rem;
  color: white;
}
p {
  margin-bottom: 1.25rem;
  color: white;
}

/*
===============
Navbar
===============
*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #21295a;
  box-shadow: black;
  z-index: 2;
}
.nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.nav-toggle {
  background: transparent;
  border: transparent;
  font-size: 1.5rem;
  color: var(--clr-style-5);
  transition: var(--transition);
  background: #21295a;
  float: right;
}
.nav-toggle:hover {
  transform: scale(1.2);
}

.nav-link {
  display: block;
  padding: 1rem 2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  color: white;
  cursor: pointer;
  font-size: 1rem;
}
.nav-link:hover {
  background: #141836;
  padding-left: 2.25rem;
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 280px;
}
@media screen and (min-width: 992px) {
  .nav-toggle {
    display: none;
    background: transparent;
  }
  .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .nav-links {
    height: auto;
    display: flex;
  }
  .nav-header {
    padding: 0 0;
  }
}
/*

/*

===============
Hero
===============

*/
.hero {
  min-height: 70vh;
  background: linear-gradient(rgba(34, 42, 97, 1) 0%, rgba(7, 12, 47, 1) 97%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  max-width: 300px;
  margin: auto;
  padding-top: 120px;
  animation: slideInDown ease 3s;
}
.hero-banner {
  text-align: center;
  color: var(--clr-white);
  padding: 0 3rem;
}
.hero-banner h1 {
  text-transform: uppercase;
}
.hero-banner p {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  color: #d5d5d5;
  font-size: 18px;
}
.hostel {
  max-width: 100px;
  position: absolute;
  right: 50px;
  top: 220px;
}
@media screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(rgb(00, 00, 00, 4), rgba(0, 0, 0, 0.2)),
      url("./images/AzureHostel-50.jpg") center/cover no-repeat;
  }
  .hero-banner {
    padding: 0;
  }
  .hero-banner p {
    max-width: 45rem;
  }
  .logo {
    max-width: 400px;
    animation: ;
  }
  .hero-banner p {
    max-width: 55rem;
    font-size: 18px;
  }
  .logo {
    max-width: 500px;
  }
  p .hero-text {
    font-size: 20px;
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/*

===============
About
===============

*/
.about {
  background: #e8b92c;
}
.about-title {
  color: white;
  font-size: 20px;
  font-weight: 800;
  margin-left: 20px;
}
.about-line {
  height: 6.3px;
  width: 150px;
  background: #51431c;
  margin-left: 20px;
}
.about-text {
  margin-left: 20px;
  max-width: 300px;
}
.about-logo {
  max-width: 7rem;
  margin-left: 20px;
  margin-top: 10px;
  animation: rotateInUpRight ease 3s;
}

@media screen and (min-width: 700px) {
  .about {
    display: grid;
    position: relative;
    margin-left: 40px;
    margin-bottom: 40px;
  }
  .about-photo {
    max-width: 250px;
    position: absolute;
    right: 30px;
    top: -70px;
    border: solid 7px white;
    animation: slideInDown ease 4s;
  }
  .about-title {
    width: 350px;
  }
  .about-text {
    font-size: 18px;
  }
  .about-logo {
    padding-top: 30px;
  }
}
@media screen and (min-width: 992px) {
  .about {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    padding-bottom: 30px;
  }
  .about-photo {
    max-width: 270px;
    position: absolute;
    right: 30px;
    top: -70px;
    border: solid 7px white;
  }
}

@media screen and (min-width: 1100px) {
  .about {
    display: grid;
    grid-template: 1fr 1fr;
    max-width: 950px;
    margin: auto;
    padding-bottom: 80px;
  }
  .about-photo {
    max-width: 350px;
    position: absolute;
    right: 20px;
    top: -80px;
    border: solid 7px white;
  }
  .about-text {
    margin-left: 20px;
    max-width: 400px;
  }
  .about-title {
    font-size: 2rem;
    width: 480px;
  }
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.rotateInUpRight {
  -webkit-animation-name: rotateInUpRight;
  animation-name: rotateInUpRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes rotateInUpRight {
  0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}
@keyframes rotateInUpRight {
  0% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

/*

===============
Service
===============

*/
.main-service {
  background: linear-gradient(
    90deg,
    rgba(34, 42, 97, 1) 0%,
    rgba(7, 12, 47, 1) 97%
  );
}
.service {
  position: relative;
  color: #aaacb9;
  text-align: center;
  font-size: 19px;
  padding-bottom: 20px;
}
.service p {
  font-size: 15px;
  text-align: left;
  max-width: 150px;
  margin-left: 20px;
}
.serive-info {
  width: 200px;
  height: 150px;
  background: #e8b92c;
  position: absolute;
  left: 120px;
  top: 150px;
  z-index: 3;
}
.service-text {
  color: #abacb8;
  font-size: 14px;
  text-align: left;
}
.service-header {
  color: #abacb8;
  text-align: center;
  font-size: 20px;
  margin-top: 80px;
  padding-bottom: 20px;
}
.service-icon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 300px;
  margin: auto;
}
.icon-service {
  align-self: center;
}
.icon-service:hover {
  color: pink;
  padding-top: 5px;
  transform: rotateY(10px);
}
.icon1 {
  align-self: center;
}
.bag-icon {
  z-index: 4;
  position: absolute;
  max-width: 100px;
  right: 0;
}
.service-photo1:empty {
  visibility: hidden;
  display: none;
}

@media screen and (min-width: 700px) {
  .img-service {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .service-photo1 {
    visibility: visible !important;
    display: block !important;
  }
  .service-photo {
  }
  .service-text {
    font-size: 15px;
  }
  .service-header {
    font-size: 22px;
  }
  .service {
    font-size: 26px;
  }
  .service-title {
    color: #e0ba4c;
  }
  .service-icon {
    max-width: 500px;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  .service-photo {
    object-fit: cover;
  }

  .service-header {
    font-size: 24px;
  }
  .service {
    font-size: 28px;
  }
  .service-title {
    color: #e0ba4c;
  }
  .service-icon {
    max-width: 550px;
    margin: auto;
    padding-bottom: 20px;
  }
  .service-photo1:not(empty) {
    visibility: visible;
    display: block;
  }
  .serive-info {
    width: 200px;
    height: 150px;
    background: #e8b92c;
    position: absolute;

    top: 150px;
    z-index: 3;
  }
}

/*

===============
Info
===============

*/
.info-img {
  height: 200px;
  object-fit: cover;
}
/*

===============
Contact
===============

*/

.contact {
  height: auto;
  padding: 40px 40px;
}
.contact-text {
  margin-top: 0;
}

.align-center {
  text-align: center;
}
.context-info {
}

.contact-title {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.contact-text {
  text-transform: uppercase;
}

@media screen and (min-width: 700px) {
  .context-text {
    font-size: 16px;
  }
  .map {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact {
    padding: 30px 30px;
    height: auto;
  }
}
@media screen and (min-width: 990px) {
  .contact {
    padding: 60px 60px;
  }
  .context-text {
    font-size: 22px;
  }
}

/*
===============
Footer
===============
*/

.footer {
  background: linear-gradient(
    90deg,
    rgba(34, 42, 97, 1) 0%,
    rgba(7, 12, 47, 1) 97%
  );
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.footer-links,
.footer-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  padding-top: 1.5rem;
  flex-wrap: wrap;
}

.footer-link:hover {
  color: var(--clr-primary-5);
}
.footer-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #e8b92c;
}
.footer-icon:hover {
  color: #746a57;
}
.copyright {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  color: white;
  padding-bottom: 20px;
  margin: 0;
}
@media screen and (min-width: 700px) {
  .copyright {
    padding-bottom: 30px;
  }
}

/*

===============
Middle div
===============
*/
.cat {
  max-width: 250px;
  margin: auto;
}
.yellow-content {
  padding: 40px 40px;
  max-width: 320px;
}
.yellow-title {
  font-size: 1.5rem;
}

.blue-title {
  font-size: 1.5rem;
}
.blue-bg {
  background: linear-gradient(
    90deg,
    rgba(34, 42, 97, 1) 0%,
    rgba(7, 12, 47, 1) 97%
  );
  animation: slideInUp ease 3s;
}
.blue-container {
  margin: 0;
  height: 330px;
}
.blue-content {
  max-width: 320px;
  padding: 40px 40px;
}
.blue-line {
  background: #e0ba4c;
  height: 6px;
  width: 100px;
  margin: 10px 0px;
}

@media screen and (min-width: 700px) {
  .yellow-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
  }
  .blueroom {
    max-width: 350px;
    animation: slideInDown ease 5s;
  }
  .cat {
    visibility: hidden;
  }
}

@media screen and (min-width: 920px) {
  .yellow-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
    padding: 40px 40px;
  }
  .blueroom {
    max-width: 420px;
    margin: auto;
    border: solid 5px white;
    overflow: hidden;
    padding: 0;

    animation: slideInDown ease 5s;
  }
  .yellow-title {
    font-size: 2rem;
  }
  .yellow-content {
    padding: 40px 40px;
    max-width: 400px;
  }

  .blue-title {
    font-size: 2rem;
  }
  .yellow-text {
    font-size: 1.2rem;
  }
  .blue-text {
    font-size: 1.2rem;
  }
  .blue-container {
    padding: 40px 40px;
  }
  .blue-content {
    max-width: 500px;
  }
}

@media screen and (min-width: 1100px) {
  .yellow-container {
    max-width: 1300px;
    margin: auto;
  }
  .yellow-content {
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    max-height: 400px;
  }
  .blue-content {
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    max-height: 400px;
  }
  .blueroom {
    max-width: 430px;
    margin: auto;
    border: solid 5px white;
    overflow: hidden;
    padding: 0;
    margin-top: 90px;
    animation: slideInDown ease 7s;
  }
  .room-img {
    padding-bottom: 40px;
  }
  .blue-content {
  }
  .blue-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1300px;
    margin: auto;
    animation: slideInUp ease 3s;
    z-index: -2;
  }
  .blue-title {
    margin: 0px;
  }
}
/*

===============
price div
===============
*/
.price-box {
}
.price-info {
  background: linear-gradient(
    90deg,
    rgba(34, 42, 97, 1) 0%,
    rgba(7, 12, 47, 1) 97%
  );
  line-height: 1.5rem;
  height: 550px;
}
.price-detail {
  max-width: 330px;
  margin: auto;
  padding: 30px;
}
.price-title {
  font-size: 1.5rem;
}
.price-line {
  height: 5px;
  background: #e0ba4c;
  width: 120px;
}
.price-tag {
  text-align: center;
  max-width: 330px;
  margin: auto;
  height: 1500px;
}
.pricelists {
  background: linear-gradient(
    90deg,
    rgba(34, 42, 97, 1) 0%,
    rgba(7, 12, 47, 1) 97%
  );
  max-width: 330px;
  height: 400px;
  margin-bottom: 20px;
}
.icon-price {
  font-size: 2.5rem;
  color: white;
  margin-top: 30px;
}

@media screen and (min-width: 700px) {
  .price-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
  .info-img1 {
    visibility: hidden;
    display: none;
  }
  .price-img {
    background-image: url("./images/AzureHostel-126.jpg");
    background-position: center;
    background-size: cover;
  }
  .price-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    grid-gap: 20px;
  }
  .pricelists {
    background: #131941;
    animation: zoomIn ease 3s;
  }
  .price-tag {
    max-width: 700px;
    height: 600px;
  }
  .price-header {
    font-size: 18px;
    max-width: 500px;
    margin: auto;
    padding-bottom: 20px;
  }
  .price-text {
    font-size: 16px;
    line-height: 1.8rem;
  }
}
@media screen and (min-width: 920px) {
  .price-tag {
    max-width: 900px;
    padding-bottom: 30px;
  }
  .price-header {
    padding-bottom: 30px;
  }
  .price-detail {
    max-width: 600px;
    margin: auto;
    padding: 50px;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

/*
===============
Slider
===============
*/

.slider-container {
  margin: 0 auto;
  height: 70vh;
  position: relative;
  overflow: hidden;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--clr-primary-9);
  color: var(--clr-white);
  display: grid;
  place-items: center;
  transition: all 0.25s ease-in-out;
}
.slide-img {
  height: 100%;
  object-fit: cover;
}
.slide h1 {
  font-size: 5rem;
}
.person-img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.slide:nth-child(1) h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide:nth-child(3) {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./img-2.jpeg") center/cover no-repeat;
}
.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
}
.prevBtn,
.nextBtn {
  background: transparent;
  border-color: transparent;
  font-size: 1.75rem;
  cursor: pointer;
  margin: 0 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  color: var(--clr-grey-5);
  transition: var(--transition);
}
.prevBtn:hover,
.nextBtn:hover {
  color: var(--clr-grey-3);
}
.btn-room {
  background: #222a61;
  color: white;
  border: none;
  text-transform: uppercase;
  padding: 10px 25px;
  margin-top: 20px;
}

.flip-container {
  perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

@media screen and (max-width: 690px) {
  .tiles {
    visibility: hidden;
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .btn-container,
  .slider-container {
    visibility: hidden;
    display: none;
  }
  .gallery-photo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: auto;
    max-width: 700px;
    padding: 20px;
  }
}

@media screen and (min-width: 920px) {
  .gallery-photo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: auto;
    max-width: 900px;
    padding: 20px;
  }
}

/*
===============
tiles
===============
*/

.tiles {
  padding: 4rem 0;
}
.tiles-center {
  width: 90vw;
  max-width: 1170px;
  margin: 2rem auto;
  display: grid;
  grid-row-gap: 2rem;
}
@media screen and (min-width: 768px) {
  .tiles-center {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .tiles-center {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1170px) {
  .tiles-center {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 200px);
    grid-template-areas:
      "a a a b"
      "a a a c"
      "d d d d"
      "e f f f"
      "e g h i";
  }
  .tiles img {
    height: 100%;
    object-fit: cover;
  }
  .tile-1 {
    grid-area: a;
  }
  .tile-2 {
    grid-area: b;
  }

  .tile-3 {
    grid-area: c;
  }
  .tile-4 {
    grid-area: d;
  }
  .tile-5 {
    grid-area: e;
  }

  .tile-6 {
    grid-area: f;
  }
  .tile-7 {
    grid-area: g;
  }
  .tile-8 {
    grid-area: h;
  }
  .tile-9 {
    grid-area: i;
  }
}
